.artist-box {
  transition: all 0.5s;
  a {
    transition: all 0.5s;
    img {
      width: 300px;
      height: auto;
      border-radius: 0 200px 200px 200px;
      -moz-border-radius: 0 200px 200px 200px;
      -webkit-border-radius: 0 200px 200px 200px;
      transition: all 0.5s;
      background: #556080;

      &:hover {
        transform: scale(1.05);
        opacity: 0.8;
      }
    }

    .artist-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: black;
      text-decoration: none;
    }
  }
}
