.music-box {
  margin-bottom: 10px;
  transition: all 0.5s;
  position: relative;
  text-align: center;
  border-radius: 20px;
  .type-box {
    color: white;
    padding: 2px 6px;
    font-size: 10px;
    background: #373737;
    position: absolute;
    top: 5px;
    border-radius: 5px;
    left: 7px;
    opacity: 0.7;
  }

  .music-play {
    bottom: 10px;
    right: 10px;
    background: black;
    width: 35px;
    height: 35px;
    padding-top: 7px;
    border-radius: 23px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.5s;
    img {
      width: 14px;
      height: 14px;
      border-radius: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 4px;
    }
    &:hover {
      transform: scale(1.1);
    }
  }

  img {
    border-radius: 10px;
    width: 300px;
    height: auto;
    transition: all 0.5s;
  }

  a {
    text-decoration: none;

    div {
      position: relative;
    }

    div {
      span {
        margin-top: 10px;
        margin-right: 20px;
        background-color: $colorPrimary;
        color: white;
        border-radius: 15px;
        padding: 5px 10px;
      }
    }
  }

  &:hover {
    img {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
  }

  .music-title {
    margin: 0;
    color: #358595;
    font-size: $font-big + 2;
    text-align: center;

    &:hover {
      opacity: 0.8;
    }
  }

  .music-artist {
    margin: 0;
    text-align: center;
    font-size: $font-big - 1;
    color: #828282;

    &:hover {
      opacity: 0.8;
    }
  }
}
