nav.navbar.sticky-top.navbar-light.navbar-expand {
  margin: -30px -30px 16px -30px;
  background: white;
  padding: 0 16px !important;
}

.music-header {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  img {
    cursor: pointer;
    margin-top: 16px;
    width: 16px;
    color: $colorDark;
    &:hover {
      opacity: 0.7;
    }
  }
  span {
    cursor: pointer;
    font-size: 12px;
  }
  .header-big-title {
    font-size: 14px;
  }
}

.header-drop-down {
  .menu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    color: #212529;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    list-style: none;
    margin: 0.125rem 0 0;
    padding-bottom: 16px;
    position: absolute;
    text-align: left;
    right: 16px;
    width: 180px;
    top: 40px;
  }

  .menu-item {
    margin-top: 16px;
    font-size: $font-small;
    text-align: right;
    direction: rtl;
    color: #212529;
    padding: 0.25rem 1.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    img {
      margin: 0;
      width: 12px;
      float: left;
    }
  }

  .menu-item:hover {
    background-color: #f4f6f6;
    cursor: pointer;
  }
}

.full {
  img {
    margin-top: 0 !important;
    cursor: pointer;
    width: 16px;
    color: $colorDark;
    &:hover {
      opacity: 0.7;
    }
  }
  .header-big-title {
    font-size: 14px;
  }
}
