nav.navbar.sticky-top.navbar-light.navbar-expand {
  margin: -16px -30px 16px -30px;
  background: white;
  padding: 0 16px !important;
}

.music-header {
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  img {
    cursor: pointer;
    margin-top: 16px;
    width: 16px;
    color: $colorDark;
    &:hover {
      opacity: 0.7;
    }
  }
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    font-size: 12px;
  }
  .header-big-title {
    font-size: 14px;
  }
}
.full {
  img {
    margin-top: 0 !important;
    cursor: pointer;
    width: 16px;
    color: $colorDark;
    &:hover {
      opacity: 0.7;
    }
  }
  .header-big-title {
    font-size: 14px;
  }
}
