.small-music {
  padding-bottom: 5em;
  .small-music-item {
    transition: all 0.5s;
    margin-bottom: 16px;
    padding: 5px 15px 0 16px;
    border-radius: 10px;
    background: #e6fbff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    span {
      font-size: 12px;
    }
    .music-image {
      width: 50px;
      height: 50px;
      border-radius: 5px;
    }
    .music-play {
      width: 30px;
      height: 30px;
    }

    &:hover {
      background: #d5f8ff;
    }
  }
}

.small_music_item_playing {
  .small-music-item {
    background: $colorAccent !important;
    span {
      color: white !important;
    }
    img {
      path {
        color: aliceblue !important;
      }
    }
  }
}
