.small-music {
  padding-bottom: 5em;
  .small-music-item {
    transition: all 0.5s;
    padding: 5px 15px 0 16px;
    border-radius: 10px;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: $font-medium;
    }

    .music-image {
      width: 50px;
      height: 50px;
      border-radius: 5px;
    }
    .music-play {
      width: 30px;
      height: 30px;
    }

    &:hover {
      background: #d5f8ff;
    }
  }
}

.small_music_item_playing {
  transition: all 0.5s;
  padding: 5px 15px 0 16px;
  border-radius: 10px;
  background: $colorAccent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  .color-primary-dark {
    color: white !important;
  }
  span {
    font-size: $font-medium;
    color: white;
  }
  .music-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  .music-play {
    width: 30px;
    height: 30px;
    path {
      color: aliceblue !important;
    }
  }

  &:hover {
    background: #d5f8ff;
  }
}
