.tags {
  padding: 14px 0;

  div {
    transition: all 0.5s;
    background: #455869;
    border-radius: 100px;
    margin: 5px;
    padding: 5px 25px;

    a {
      text-decoration: none;
      color: white;
      font-size: 15px;
    }

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
      transform: scale(1.02);
    }
  }
}