.video-info {
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 16px;
    margin-top: 5px;
  }
  .separator {
    margin: 0 5px;
    position: relative;
    top: 3px;
    color: black;
  }
}

.video-box {
  .type-box {
    color: white;
    padding: 2px 6px;
    font-size: 10px;
    background: #373737;
    position: absolute;
    top: 5px;
    border-radius: 5px;
    left: 7px;
    opacity: 0.7;
  }

  .img-fluid {
    width: 100%;
    height: 162px;
    border-radius: 10px;
    max-height: 180px;
  }
  .play-icon {
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    div {
      width: 50px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 16%;
      opacity: 0.8;
    }
  }
}

.video-carousel-mobile {
  .hooper-slide {
    margin: 0;
  }
  .hooper-pagination {
    bottom: -20px;
  }
  .hooper-indicator {
    background-color: $colorGray;
  }
  .hooper-indicator.is-active {
    background-color: $colorPrimary;
  }
}
.video-carousel {
  .hooper-pagination {
    display: none;
  }
  .hooper-indicator {
    display: none;
  }
}
