.video-info {
  background: #90909099;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 0 0 5px 5px;
  transition: 0.5 all;
  z-index: 999;
  p {
    margin-right: 16px;
    margin-top: 5px;
  }
}

.video-box {
  .type-box {
    color: white;
    padding: 2px 6px;
    font-size: 10px;
    background: #373737;
    position: absolute;
    top: 5px;
    border-radius: 5px;
    left: 7px;
    opacity: 0.7;
  }

  .img-fluid {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 180px;
  }
  .play-icon {
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: #6d6d6d4a;
    div {
      width: 50px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 16%;
    }
  }
  .video-info {
    height: 40px;
    margin-bottom: 10px;
  }
}
