@import "mixins";
@import "variables";

.background-primary {
  background-color: $colorPrimary !important;
}

.background-primary-dark {
  background-color: $colorPrimaryDark !important;
}

.background-accent {
  background-color: $colorAccent !important;
}

.color-primary {
  color: $colorPrimary !important;
}

.color-primary-dark {
  color: $colorPrimaryDark !important;
}

.color-gray {
  color: $colorGray !important;
}

.color-accent {
  color: $colorAccent !important;
}

.font-big {
  font-size: $font-big;
}

.font-medium {
  font-size: $font-medium;
}

.font-small {
  font-size: $font-small;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.uk-box-shadow-small {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.margin {
  margin: 16px;
}

.margin-t {
  margin-top: 16px;
}

.margin-r {
  margin-right: 16px;
}

.margin-b {
  margin-bottom: 16px;
}

.margin-l {
  margin-left: 16px;
}

.padding-t {
  padding-top: 16px;
}
.padding-r {
  padding-right: 16px;
}
.padding-l {
  padding-left: 16px;
}
.padding-b {
  padding-bottom: 16px;
}
