@mixin btnShadow() {
  -webkit-box-shadow: 0px 7px 5px 0px rgba(227, 227, 227, 1);
  -moz-box-shadow: 0px 7px 5px 0px rgba(227, 227, 227, 1);
  box-shadow: 0px 7px 5px 0px rgba(227, 227, 227, 1);
}

@mixin shadow() {
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
