$colorPrimary: #4cb6cb;
$colorPrimaryDark: #358595;
$colorPrimaryLight: #ddf9ff;
$colorAccent: #384055;
$colorDark: #5e5e5e;
$colorGray: #888;
$colorBlue: #5757ff;
$colorGreen: #35c374;
$colorGreenDark: #29a661;

$first_color: rgba(0, 0, 255, 0.5);
$second_color: rgba(255, 0, 0, 0.5);

$font-ultra-big: 20px;
$font-big: 15px;
$font-medium: 12px;
$font-small: 10px;

$screen-xs-min: 425px; // Tiny phones
$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops
