/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 	background: rgba(0,0,0,0.3);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    	background: rgba(0,0,0,0.7);
}

