@import "./global/general";

.single-album-box {
  .album-top {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }
  .album-bot {
    width: 100%;
    background: white;
    position: absolute;
    right: 0;
    left: 0;
    top: 80%;
    border-radius: 80px 0 0 0;
    z-index: 99;

    .album-control {
      height: 65px;
      display: flex;
      justify-content: flex-end;
      .play {
        cursor: pointer;
        margin-right: 32px;
        width: 80px;
        position: relative;
        top: -35px;
      }
      .shuffle {
        cursor: pointer;
        border-radius: 50px;
        width: 40px;
        position: relative;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        top: -20px;
        &:hover {
          opacity: 1 !important;
        }
      }
      .like {
        cursor: pointer;
        border-radius: 50px;
        position: relative;
        top: -20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        margin-right: 16px;
        width: 40px;
        &:hover {
          opacity: 1 !important;
        }
      }
    }
  }
}

.single-music-box-desktop {
  display: flex;
  flex-direction: row;
  .album-image {
    flex: 1;
    img {
      border-radius: 5px;
    }
  }
  .album {
    flex: 1;
    .album-info {
      display: block;
      ul {
        margin: 16px;
        line-height: 2;
      }
      hr {
        margin-right: 16px;
      }
      .album-actions {
        display: flex;
        justify-content: center;
        align-content: center;
        .play {
          cursor: pointer;
          width: 65px;
          position: relative;
          top: -6px;
        }
        .shuffle {
          margin-right: 16px;
          margin-left: 16px;
          cursor: pointer;
          border-radius: 50px;
          width: 40px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
          &:hover {
            opacity: 1 !important;
          }
        }
        .like {
          margin-right: 16px;
          margin-left: 16px;
          cursor: pointer;
          border-radius: 50px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
          width: 40px;
          &:hover {
            opacity: 1 !important;
          }
        }
      }
    }
  }
}
