/*
    this styles apply to hole of project;
*/
@import "global/reset";
@import "global/fonts";
@import "global/general";
@import "components/page-header";
@import "components/bottom-navigation";
@import "components/custom_modal";
@import "components/comment";
@import "components/album-item";
@import "components/artist-item";
@import "components/music-item";
@import "components/video-item";
@import "components/small-music";
@import "components/music-player";
@import "components/like-item";
@import "components/bookmark-item";
@import "components/message-item";

.uk-icon,
.icon {
  color: $colorPrimary;
}
.main {
  padding-top: 1em;
  .header-box {
    background: #fff;
    padding-top: 10px;
    margin: -1em -1em 1em;
  }
  .header {
    height: 60px;

    ul {
      margin-top: 0.8em;

      li {
        padding-bottom: 10px;

        a {
          color: black;
          text-decoration: none;
          font-size: $font-small;
          margin-left: 1em;
          padding-bottom: 10px;

          &:after {
            content: "";
            display: block;
            width: 0;
            margin-top: 8px;
            height: 2px;
            background: $colorPrimary;
            transition: width 0.3s;
          }

          &:hover:after {
            width: 100%;
            transition: width 0.3s;
          }
        }
      }
    }
  }

  .search-icon {
    position: relative;
  }
  input:focus,
  input:focus {
    outline: none;
  }
  .search-box {
    padding-top: 15px !important;
    border: none;
    padding-bottom: 1em;
  }

  .div-search {
    transition: all 0.5s;
    border: 1px solid #dbdbdb;
    background: white;
    color: black;
    border-radius: 5px;
    margin: 0;
    padding-right: 10px;
    width: 100%;
    padding-left: 10px;

    input {
      background: white;
      color: black;
      width: 100%;
    }

    .col-1 {
      margin: 0;
      padding: 11px 0 0 0;
    }

    span {
      width: 100%;
    }

    &:hover {
      border: 1px solid $colorPrimary;
    }
  }
}

.aside {
  padding-right: 0px;
  padding-left: 0px;
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  overflow: scroll;
  padding-bottom: 10em;
  display: none;
  @include sidebarBackground();

  .btn-show-profile {
    font-size: 12px;
    text-align: center;
    transition: all 0.5s;
    border: 1px solid $colorPrimary;
    color: black;

    &:hover {
      transform: scale(1.05);
      background-color: $colorPrimary;
      color: white;
      @include btnShadow();
    }
  }

  .sidebar-logo {
    text-align: center;
    padding-bottom: 10px;
    background: $colorPrimary;

    .logo {
      margin-left: 10px;
    }

    .logo-text {
      position: fixed !important;
      visibility: hidden;
      top: 999999px !important;
      left: 9999999999px !important;
    }
  }

  .aside-menu {
    text-align: right;
    direction: rtl;

    div {
      padding-top: 1em;
      margin-right: 16px;
      margin-left: 16px;
    }

    ul {
      margin-left: 20px;
      list-style: none;
      line-height: 3;
      padding: 0;
      margin-right: 20px;

      li {
        font-size: $font-small;
        color: $colorGray;
        transition: all 0.5s;

        i {
          margin-left: 10px;
          font-size: 20px;
        }

        a {
          text-decoration: none;
          color: black;

          &:after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: $colorPrimary;
            transition: width 0.3s;
          }

          &:hover:after {
            width: 100%;
            transition: width 0.3s;
          }
        }
      }

      .aside-menu-active {
        color: black;
        font-weight: bold;
      }
    }
  }
}

// nav
.menu-mobile {
  box-shadow: 0px 2px 7px #ccc;

  .sidebar-logo {
    padding-top: 10px;
  }

  #profile {
    margin-right: 16px;
    margin-top: 10px;
  }

  #openMenu {
    margin-top: 10px;
    margin-left: 16px;
  }
}

.sidebar-logo {
  text-align: center;
  padding-bottom: 10px;
  background: $colorPrimary;

  .logo {
    margin-left: 10px;
  }

  .logo-text {
    position: fixed !important;
    visibility: hidden;
    top: 999999px !important;
    left: 9999999999px !important;
  }

  span {
    color: white;
  }
}

//// global css
.shimmer {
  background-color: #f3f3f3;
  background: linear-gradient(to right, #f3f3f3 5%, #eee 20%, #f3f3f3 35%);
  animation: placeholderShimmer 2s linear 0s infinite normal forwards;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.like,
.shuffle,
.bookmark {
  color: $colorDark;
  transition: all 0.7s;
  cursor: pointer;
  width: 40px;
  &:hover {
    opacity: 0.6;
  }
}

.section-title {
  margin-top: 16px;
  margin-bottom: 16px;
  h2 {
    font-size: $font-ultra-big;
    font-family: iransans;
    color: $colorPrimary;
    direction: rtl;
    font-weight: 500;
    float: right;
    cursor: pointer;
    &:hover {
      color: $colorPrimaryDark;
    }
  }
  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: $font-medium;
    &:hover {
      color: $colorPrimaryDark;
    }
  }
}
//// responsive

@include sm {
  h2 {
    font-size: $font-big !important;
  }
  .music-li {
    padding-left: $font-small !important;
  }
  .music-title {
    font-size: $font-big - 1 !important;
  }
  .music-artist {
    font-size: $font-small + 1 !important;
  }
  .artist-title {
    font-size: $font-medium;
  }
  .home-music-carousel {
    .owl-item {
      width: 12% !important;
    }
  }
}
