@import "./global/general";
.artist-single-box {
  .artist-profile {
    background: rgb(221, 249, 255);
    background: linear-gradient(321deg, rgba(221, 249, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    margin: -30px;
    padding: 46px 30px 16px 30px;
    border-bottom-right-radius: 70px;
    text-align: right;
    .artist-img {
      @include btnShadow;
      border-radius: 50px;
    }
    .artist-info-top {
      padding-right: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      div {
        h2 {
          font-size: $font-medium;
        }
        button {
          @include btnShadow;
          color: white;
          font-size: $font-medium;
          background: $colorPrimary;
          border-radius: 50px;
          border: none;
          padding: 6px 23px;
        }
      }
    }
    .artist-info-bottom {
      margin-top: 16px;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 16px;
      p {
        font-size: $font-small;
      }
    }
  }
}

.small-music {
  padding-bottom: 0;
}

.home-music-carousel .owl-item {
  width: 15% !important;
  height: auto;
}
