@import "./global/general";

.add-message {
  position: fixed;
  background: $colorPrimary;
  width: 56px;
  height: 56px;
  justify-content: center;
  align-items: center;
  display: flex;
  bottom: 94px;
  right: 16px;
  transition: all 0.5s;
  border-radius: 51px;
  @include shadow();
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  a {
    display: flex;
    align-items: center;
    img {
      width: 25px;
      height: 25px;
    }
  }
}

.add-message-desktop {
  display: flex;
  justify-content: end;
  div {
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 10px;
      border-radius: 5px;
      width: 200px;
      text-decoration: none;
      transition: all 0.5s;
      background: $colorPrimary;
      color: white;
      &:hover {
        opacity: 0.8;
      }
      img {
        margin-right: 16px;
        width: 15px;
      }
    }
  }
}
