@import "./global/general";

.single-music-box-desktop {
  border-radius: 5px;
  background: #f9f9f9;
  padding: 2em;
}
.single-music-box {
  .music-image {
    text-align: center;
    img {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.32);
      width: 280px;
      height: auto;
      border-radius: 5px;
    }
  }

  .music-info {
    text-align: center;
    p {
      font-size: $font-big + 1;
      color: $colorPrimaryDark;
    }
    span {
      font-size: $font-small;
      color: $colorAccent;
    }
  }

  .music-progress-bar {
    display: flex;
    justify-content: space-between;
    img {
      cursor: pointer;
      width: 16px;
      margin: 0 16px;
      :hover {
        opacity: 0.7;
      }
    }
    .music-time {
      flex: 1;
      span {
        color: $colorDark;
        font-size: $font-small;
      }
    }
  }
  .music-actions {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    a,
    img {
      cursor: pointer;
       :hover {
        opacity: 0.7;
      }
    }
    .bookmark {
      width: 17px;
    }
    .repeat-info {
      color: white;
      position: absolute;
      background: $colorAccent;
      width: 17px;
      height: 17px;
      text-align: center;
      border-radius: 50px;
      font-size: 10px;
      padding-top: 2px;
      top: -13px;
    }
  }

  .music-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .next,
    .prev {
      flex: 2;
    }
    .prev {
      text-align: right;
    }
    .next {
      text-align: left;
    }

    .next img,
    .prev img {
      transition: all 0.7s;
      cursor: pointer;
      width: 40px;
      &:hover {
        opacity: 0.6;
      }
    }
    .play {
      transition: all 0.7s;
      position: relative;
      top: 5px;
      cursor: pointer;
      width: 100px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.progress-container {
  position: relative;
  height: 10px;
  width: auto;
  display: flex;
  align-items: center;

  .progress {
    background-color: rgba(0, 0, 0, 0.05);
    height: 6px;
    //width: calc(75% - 30px);
    width: 100%;
    margin: 0;
    padding: 0 2px;
    border-radius: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    .progress-handle {
      display: block;
      position: absolute;
      z-index: 6;
      margin-top: 0;
      margin-left: -2px;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background-color: $colorPrimary;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:hover {
        background-color: #000;
      }
    }

    .transparent-seeker-layer {
      //please do not delete this layer unless you know what you are doing
      // this code allows the seeker click position to function well
      width: 100%;
      height: 6px;
      background-color: transparent;
      position: absolute;
      cursor: pointer;
      z-index: 5;
    }

    .bar {
      border-radius: 5px;
      width: 0;
      background-color: $colorPrimary;
      height: 6px;
      position: absolute;
    }
  }
}

.menu-item {
  margin-top: 16px;
  font-size: $font-medium;
  border-radius: 5px;
  text-align: right;
  direction: rtl;
  color: #212529;
  padding: 0.25rem 1.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  img {
    margin: 0;
    width: 12px;
    float: left;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.menu-item:hover {
  background-color: #f4f6f6;
  cursor: pointer;
}

.playlist {
  height: 300px;
  overflow: scroll;
}
