@import "general";
@import "./components/comment";


.holder {
  display: flex;
  flex-direction: column;
  align-items: center;

  .get-it-on-github {
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: 'Roboto';
    color: #55606E;
  }
}

.audio.green-audio-player {
  width: 400px;
  min-width: 300px;
  height: 56px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .07);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none;
  background-color: #fff;
  .play-pause-btn {
    display: none;
    cursor: pointer;
  }
  .spinner {
    width: 18px;
    height: 18px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: spin 0.4s linear infinite;
  }
  .slider {
    flex-grow: 1;
    background-color: #D8D8D8;
    cursor: pointer;
    position: relative;
    .progress {
      background-color: #44BFA3;
      border-radius: inherit;
      position: absolute;
      pointer-events: none;
      .pin {
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background-color: #44BFA3;
        position: absolute;
        pointer-events: all;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.32);
      }
    }
  }
  .controls {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #55606E;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    .slider {
      margin-left: 16px;
      margin-right: 16px;
      border-radius: 2px;
      height: 4px;
      .progress {
        width: 0;
        height: 100%;
        .pin {
          right: -8px;
          top: -6px;
        }
      }
    }
    span {
      cursor: default;
    }
  }
  .volume {
    position: relative;
    .volume-btn {
      cursor: pointer;
      &.open path {
        fill: #44BFA3;
      }
    }
    .volume-controls {
      width: 30px;
      height: 135px;
      background-color: rgba(0, 0, 0, 0.62);
      border-radius: 7px;
      position: absolute;
      left: -3px;
      bottom: 52px;
      flex-direction: column;
      align-items: center;
      display: flex;
      &.hidden {
        display: none;
      }
      .slider {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 6px;
        border-radius: 3px;
        .progress {
          bottom: 0;
          height: 100%;
          width: 6px;
          .pin {
            left: -5px;
            top: -8px;
          }
        }
      }
    }
  }
}
svg, img {
  display: block;
}


@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(1turn);
  }
}









.main {
  padding-top: 1em;

  .music-player-div {

    text-align: center;
    border: 1px solid #ececec;
    border-radius: 5px;

    .player {
      background: #ffff;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 0 25px rgba(76, 182, 203, 0.21);

      i {
        cursor: pointer;
      }

      .uk-dropdown {
        min-width: 250px;
        line-height: 2;
      }

      .menu {
        margin-left: auto;
        width: 20px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        .open-more:hover {
          opacity: 0.8;
        }

        .uk-dropdown {
          border-radius: 5px;
          border: 1px solid #ececec;
        }
      }

      .thumbnail {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        .img {
          border-radius: 8px;
          background-position: 313px 444px;
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
        }
      }

      .slider1 {
        margin-top: 20px;
        font-size: 12px;

        .sl {
          height: 5px;
          background: #cae4fe;
          flex: 1;
          border-radius: 5px;
          position: relative;
          margin: 0 10px;

          .dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #ff3677;
            position: relative;
            right: 50px;
            top: -2px;
          }
        }
      }

      .buttons {
        margin-top: 40px;
        text-align: center;

        button {
          border: 0;
          background: #ffff;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          cursor: pointer;

          img {
            width: 20px;
            text-align: center;
            // margin-left: 4px;
          }

          &.active {
            line-height: 1;
            margin: 0 10px;
            box-shadow: 0 5px 20px rgba(218, 218, 218, 0.76);
          }
        }
      }

      .footer {
        display: flex;
        margin-top: 25px;
        justify-content: space-between;

        img {
          width: 20px;
          cursor: pointer;
        }

        .heart img {
          color: #ff3677;
        }
      }
    }
  }
}

.related_music {
  list-style: none;
  background: #fafafa;
  margin-bottom: 16px;
  transition: all 0.5s;
  padding: 10px;
  border-radius: 5px;

  &:hover {
    background: aliceblue;
    transform: scale(1.03);
  }

  img {
    border-radius: 5px;
  }
}

#download-box {
  display: none;

  .download-box {
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 16px 16px 16px;

    .link {
      padding: 10px 20px;
      color: white;
      text-decoration: none;
      background-color: #26bbb4;
      border-radius: 5px;
      transition: all 0.5s;
      font-size: 12px;

      &:hover {
        background-color: #4e8e8b;
      }

      i {
        margin-right: 16px;
        font-size: 20px;
        color: white !important;
      }
    }
  }
}

div.time-progress {
  margin-bottom: 30px;

  span.current-time {
    color: #aaafb3;
    font-size: 12px;
    display: block;
    float: left;
    margin-left: 20px;
  }

  div#progress-container {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    height: 20px;
    cursor: pointer;

    &:hover {
      input[type="range"].amplitude-song-slider::-webkit-slider-thumb {
        display: block;
      }

      input[type="range"].amplitude-song-slider::-moz-range-thumb {
        visibility: visible;
      }
    }

    progress#song-played-progress {
      width: 100%;
      position: absolute;
      left: 0;
      top: 8px;
      right: 0;
      z-index: 60;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 4px;
      border-radius: 5px;
      background: #bad5ff;
      border: none; /* Needed for Firefox */
    }

    @media all and (-ms-high-contrast: none) {
      *::-ms-backdrop,
      progress#song-played-progress {
        color: #db3776;
        border: none;
        background-color: #e1e1e1;
      }
    }

    @supports (-ms-ime-align: auto) {
      progress#song-played-progress {
        color: #db3776;
        border: none;
      }
    }

    progress#song-played-progress[value]::-webkit-progress-bar {
      background: none;
      border-radius: 5px;
    }

    progress#song-played-progress[value]::-webkit-progress-value {
      background-color: #db3776;
      border-radius: 5px;
    }

    progress#song-played-progress::-moz-progress-bar {
      border-radius: 5px;
      background: #db3776 none;
      height: 5px;
      margin-top: -2px;
    }

    progress#song-buffered-progress {
      position: absolute;
      left: 0;
      top: 8px;
      right: 0;
      width: 100%;
      z-index: 10;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 4px;
      border-radius: 5px;
      background: #bad5ff;
      border: none;
    }

    progress#song-buffered-progress[value]::-webkit-progress-bar {
      background-color: #e1e1e1;
      border-radius: 5px;
    }

    progress#song-buffered-progress[value]::-webkit-progress-value {
      background-color: #e1e1e1;
      border-radius: 5px;
      transition: width 0.1s ease;
    }

    progress#song-buffered-progress::-moz-progress-bar {
      border-radius: 5px;
      background: #e1e1e1 none;
      height: 5px;
      margin-top: -2px;
    }

    progress::-ms-fill {
      border: none;
    }

    @-moz-document url-prefix() {
      progress#song-buffered-progress {
        top: 9px;
        border: none;
      }
    }

    @media all and (-ms-high-contrast: none) {
      *::-ms-backdrop,
      progress#song-buffered-progress {
        color: #78909c;
        border: none;
      }
    }

    @supports (-ms-ime-align: auto) {
      progress#song-buffered-progress {
        color: #78909c;
        border: none;
      }
    }

    input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
      margin: 7.5px 0;
      position: relative;
      z-index: 9999;
      top: -7px;
      height: 20px;
      cursor: pointer;
      background-color: inherit;
    }

    input[type="range"]:focus {
      outline: none;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 0;
      cursor: pointer;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
      background: #db3776;
      border-radius: 0;
      border: 0 solid #010101;
    }

    input[type="range"]::-webkit-slider-thumb {
      box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
      border: 1px solid #db3776;
      height: 15px;
      width: 15px;
      border-radius: 16px;
      background: #db3776;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -7.5px;
    }

    input[type="range"]:focus::-webkit-slider-runnable-track {
      background: #db3776;
    }

    input[type="range"]::-moz-range-track {
      width: 100%;
      height: 0;
      cursor: pointer;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
      background: #db3776;
      border-radius: 0;
      border: 0 solid #010101;
    }

    input[type="range"]::-moz-range-thumb {
      box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
      border: 1px solid #db3776;
      height: 15px;
      width: 15px;
      border-radius: 16px;
      background: #db3776;
      cursor: pointer;
    }

    input[type="range"]::-ms-track {
      width: 100%;
      height: 0;
      cursor: pointer;
      background: #bad5ff;
      border-color: transparent;
      color: transparent;
    }

    input[type="range"]::-ms-fill-lower {
      background: #003d57;
      border: 0 solid #010101;
      border-radius: 0;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    }

    input[type="range"]::-ms-fill-upper {
      background: #db3776;
      border: 0 solid #010101;
      border-radius: 0;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
    }

    input[type="range"]::-ms-thumb {
      box-shadow: 0 0 0 #000000, 0 0 0 #0d0d0d;
      border: 1px solid #db3776;
      height: 15px;
      width: 15px;
      border-radius: 16px;
      background: #db3776;
      cursor: pointer;
      display: none;
    }

    /*
        IE 11
      */
    @media all and (-ms-high-contrast: none) {
      *::-ms-backdrop,
      input[type="range"].amplitude-song-slider {
        padding: 0;
      }

      *::-ms-backdrop,
      input[type="range"].amplitude-song-slider::-ms-thumb {
        height: 15px;
        width: 15px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: -8px;
      }

      *::-ms-backdrop,
      input[type="range"].amplitude-song-slider::-ms-track {
        border-width: 15px 0;
        border-color: transparent;
      }

      *::-ms-backdrop,
      input[type="range"].amplitude-song-slider::-ms-fill-lower {
        background: #e1e1e1;
        border-radius: 10px;
      }

      *::-ms-backdrop,
      input[type="range"].amplitude-song-slider::-ms-fill-upper {
        background: #e1e1e1;
        border-radius: 10px;
      }
    }
    @supports (-ms-ime-align: auto) {
      input[type="range"].amplitude-song-slider::-ms-thumb {
        height: 15px;
        width: 15px;
        margin-top: 3px;
      }
    }

    input[type="range"]:focus::-ms-fill-lower {
      background: #db3776;
    }

    input[type="range"]:focus::-ms-fill-upper {
      background: #db3776;
    }
  }

  span.duration {
    color: #aaafb3;
    font-size: 12px;
    display: block;
    float: right;
    margin-right: 20px;
  }
}

