@import "general";
@import "components/music-item";

.main {
  ///slider
  .section-title {
    margin-top: 1em;
    margin-bottom: 10px;
    h2 {
      font-size: 20px;
      margin-right: 16px;
      font-family: iransans;
      color: $colorPrimary;
      margin-top: 7px;
      direction: rtl;
      float: right;
    }
    span {
      color: $colorPrimary;
      cursor: pointer;
      margin-left: 16px;
      font-size: 13px;
    }
  }
}

// artist slider

.artist-box {
  img {
    width: 300px;
    height: auto;
    border-radius: 0 200px 200px 200px;
    -moz-border-radius: 0 200px 200px 200px;
    -webkit-border-radius: 0 200px 200px 200px;
    transition: all 0.5s;
    background: #556080;

    &:hover {
      transform: scale(1.05);
    }
  }

  .artist-title {
    color: black;
    text-decoration: none;
  }
}

/// video slider
.video-info {
  background: #90909099;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 0 0 5px 5px;

  p {
    margin-right: 16px;
    margin-top: 5px;
  }
}

.video-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;

  .video-box {
    img {
      width: 300px;
      height: auto;
      border-radius: 10px;
    }
  }
}

.daily-music {
  max-height: 250px;
  overflow-y: scroll;

  .custom-table {
    th {
      border: none;
    }

    td {
      border: none;
      position: relative;
      vertical-align: middle;

      a {
        color: black;
        text-decoration: none;
        font-size: 13px;
        float: right;
        text-align: right;
      }

      .icon-play {
        margin-left: 20px;
        position: absolute;
        right: 20px;
        top: 8px;
        visibility: hidden;
      }
    }

    tr {
      transition: all 0.4s;
      padding-top: 10px;
      border-radius: 5px;
      line-height: 2;
      vertical-align: middle;

      img {
        width: 50px;
        height: 50px;
      }

      .div-play {
        background-color: rgba(0, 0, 0, 0.4);
        width: 50px;
        height: 50px;
        position: absolute;
        top: 12.5px;
        border-radius: 5px;
        left: 12px;
        visibility: hidden;
      }

      &:hover {
        td {
          background: $colorPrimary;
          color: white;

          a {
            color: white;
            text-decoration: none;
          }

          .div-play {
            visibility: visible;
          }

          .icon-play {
            visibility: visible;
          }
        }

        .td-1 {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        .td-5 {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }
    }
  }
}
