@import "./global/general";

.profile-box {
  overflow: scroll;
  margin: -15px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  .profile-top {
    border-radius: 10px;
    margin: 16px;
    background: white;
    .row {
      .col-6 {
        .img-logout {
          cursor: pointer;
          width: 40px;
          padding: 0 0 20px 20px;
        }
        .img-alert {
          cursor: pointer;
          width: 40px;
          padding: 0 20px 20px 0;
        }
      }
    }
    .user-info {
      padding-bottom: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 100px;
      }
      span {
        font-size: $font-big;
        font-weight: 500;
        color: $colorAccent;
      }
    }
  }

  .login-btn {
    @include btnShadow;
    color: white;
    font-size: $font-medium;
    background: $colorPrimary;
    border-radius: 50px;
    border: none;
    padding: 6px 23px;
    margin-bottom: 16px;
    text-decoration: none;
  }

  .profile-bottom {
    padding: 0px 16px 16px 16px;
    border-radius: 10px;
    margin: 16px;
    background: white;
    ul {
      li {
        margin-top: 32px;
        text-align: right;
        direction: rtl;
        a {
          text-decoration: none;
          color: black;
          img {
            width: 17px;
            float: left;
            height: 17px;
          }
        }
      }
    }
  }
}
