@import "general";

.profile-box {
  overflow: scroll;
  margin: -15px;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  .profile-top {
    border-radius: 10px;
    margin: 16px;
    background: white;
    .row {
      .col-6 {
        img {
          width: 20px;
        }
      }
    }
    .user-info {
      padding-bottom: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 100px;
      }
      span {
        font-size: $font-big;
        font-weight: 500;
        color: $colorAccent;
      }
    }
  }

  .profile-bottom {
    padding: 0px 16px 16px 16px;
    border-radius: 10px;
    margin: 16px;
    background: white;
    ul {
      li {
        margin-top: 32px;
        text-align: right;
        direction: rtl;
        img {
          width: 17px;
          float: left;
          height: 17px;
        }
      }
    }
  }
}
