@import "general";
@import "components/music-item";
@import "components/artist-item";
@import "components/album-item";

.search-page {
  .row {
    margin: -15px;
    padding: 0 16px;
    height: 56px;
  }
  .search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      transition: all 0.5s;
      width: 15px;
    }
    input {
      background: transparent;
      border: none;
      direction: rtl;
      width: 100%;
      color: $colorDark;
    }

    .flex-1 {
      flex: 1;
    }
    .flex-10 {
      flex: 10;
    }
  }

  .history {
    position: fixed;
    z-index: 99999;
    background: white;
    width: 100%;
    right: 0;
    left: 0;
    top: 46px;
    padding: 0 16px;
    margin-top: 32px;
    ul {
      width: 100%;
      li {
        width: 100%;
        div {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          span {
            text-align: right;
            flex: 2;
            font-size: $font-medium + 2;
            padding: 0 16px;
          }
          img {
            width: 15px;
          }
          .time {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .results {
    margin-top: 45px;
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link {
      font-size: $font-medium;
      color: black;
    }
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      color: $colorPrimary !important;
      border: 1px solid $colorPrimaryDark !important;
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
    }
  }
}
