@import "general";

.single-video-box {
  .single-video-info {
    
  }

  .video-control {
    li {
      margin-left: 16px;
    }
    .download {
      width: 25px;
      position: relative;
      bottom: 7px;
    }
  }
}
